/target
*.node
.DS_Store
*.html

node_modules
*.wasm

.idea/
pkg/

# Generated while testing
*.tmp.js

# Used to see output of babel.
/lab

*.mm_profdata
.tsbuildinfo
.swc/

# Used by scripts
*.tmp.txt
swc-core-*.tgz
